singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/scratch/users/k25053715/MSc_research/0_project_env/chimerax_env"
}


process {
  executor = 'slurm'
  shell = ['/bin/bash', '-euo', 'pipefail']
  scratch = true
  errorStrategy = 'terminate'

  withName: MAKE_BOLTZ_INPUT {
    cpus = 1
    memory = '2 GB'
    time = '30m'
    queue = 'cpu'
  }

  withName: RUN_BOLTZ2 {
    cpus = 4
    memory = '32 GB'
    time = '4h'
    queue = 'gpu'
    clusterOptions = '--gres=gpu:1'
  }

  withName: RUNCHIMERAX {
    cpus = 2
    memory = '8 GB'
    time = '2h'
    queue = 'cpu'
    container = '/scratch/users/k25053715/MSc_research/0_project_env/chimerax_env/chimerax.sif'
    env.HOME = '$PWD'
    env.XDG_CONFIG_HOME = '$PWD/.config'
    env.XDG_DATA_HOME = '$PWD/.local/share'
    env.XDG_CACHE_HOME = '$PWD/.cache'
  }
  
  withName: STRAIGHTEN_LINKERS {
    cpus = 2
    memory = '4 GB'
    time = '30m'
    queue = 'cpu'
  }
  withName: OPENMM_MINIMIZE {
    cpus = 4
    memory = '16 GB'
    time = '24h'
    queue = 'interruptible_cpu'
  }
}

params {
  project_root   = '/scratch/users/k25053715/MSc_research/nextflow/2_pipeline/013_nextflow_pipeline'
  outdir         = '/scratch/users/k25053715/MSc_research/nextflow/2_pipeline/013_nextflow_pipeline/results'

  boltz_venv     = '/scratch/users/k25053715/MSc_research/0_project_env/boltz2_venv'
  biopython_env  = '/scratch/users/k25053715/MSc_research/0_project_env/biopython_env'
  openmm_env     = '/scratch/users/k25053715/MSc_research/0_project_env/openmm'
  torch_cache    = '/scratch/users/k25053715/MSc_research/0_project_env/.cache/torch'
  hf_cache       = '/scratch/users/k25053715/MSc_research/0_project_env/.cache/huggingface'
}
